a {
  color: inherit;
  text-decoration: none;
}

h3 {
  margin-top: 0;
}

ul, li {
  list-style-type: none;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.orange {
  color: #ED552F;
}

.wrapper {
  background: lightgray;
  padding: 12px;
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.wrapper1 {
  background: lightgray;
  padding: 12px;
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.menu1 {
  background: #fff;
  border: 1px solid darkgray;
  border-radius: 10px;
  margin: 0 0;
  padding-top: 5px;
  padding-left: 20px;
  width: auto;
  height: 30px;
  transition: all 1s;
}

.menu1:hover {
  transition: all 1s;
  height: 150px;
}

.menu1:hover .li{
  transition: all 2s;
  visibility: visible;
  opacity: 1;
}

.menu1:hover .zero1 {
  transition: all 1s 0.5s;
  margin-top: 10px;
}

.li {
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}

.zero1 {
  transition: all 1s 0.7s;
  display: block;
}




